/* Estilos CSS para el juego del gusanito */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #1b2838, #2b2e33);
    color: #8d939a;
    font-family: Arial, sans-serif;
}

canvas {
    border: 2px solid grey;
}

h1, h2 {
    color: #66c0f4;
}

#directionButtons {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.mobile-button {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 16px;
}

#upButton, #downButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos móviles */

    h1 {
        font-size: 20px; /* Tamaño más pequeño para el título en una línea */
    }

    .mobile-button {
        width: 160px; /* Aumentar el tamaño de los botones a 4 veces su tamaño actual */
        height: 160px;
        margin: 10px;
        font-size: 32px; /* Aumentar el tamaño del texto en los botones */
    }

    #directionButtons {
        display: flex;
        flex-direction: column; /* Colocar los botones en una columna */
        align-items: center;
    }

    #leftButton, #rightButton {
        flex-direction: row; /* Alinear los botones izquierdo y derecho en una fila */
    }
}